* {
  margin: 0%;
  font-family: sans-serif;
}
body {
  background-image: url(/img/nature.jpg);
  background-size: cover;
}
.topnav {
  display: flex;
  background-color: rgba(14, 87, 155, 0.7);
  overflow: hidden;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.topnav > div {
  display: flex;
}
.topnav > div a {
  display: flex;
  color: white;
  text-align: center;
  padding: 14px 16px;
  margin-top: 0%;
  text-decoration: none;
  font-size: 24px;
  font-family: sans-serif;
}

.topnav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.topnav h1:hover {
  background-color: rgba(14, 87, 155, 0.7);
  color: white;
}

.topnav a:hover {
  background-color: white;
  color: black;
}

.topnav a.active {
  background-color: rgb(5, 2, 2);
  color: white;
}

.hr {
  padding-top: 10px;
}

p {
  padding: 40px 0 40px 0;
  font-family: sans-serif;
  font-size: 24px;
  text-align: center;
}

body > h1 {
  padding-top: 40px;
  font-family: sans-serif;
  text-align: center;
}

.p-terms {
  display: flex;
  justify-content: center;
}

.p-terms > div > p {
  margin-top: 70px;
  width: 600px;
  background-color: rgba(14, 87, 155, 0.7);
  max-height: 500px;
  border-radius: 14px;
  border: solid 2px;
  color: white;
}

body .terms {
  background-image: url(/img/crossfit.jpg);
}

.vwdrinks {
  text-align: center;
}

img {
  padding: 28px;
  width: 10%;
}

.contactus {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactus > h1 {
  padding: 20px;
}

.contactus > h2 {
  padding-bottom: 20px;
}
.contactus > h3 {
  padding: 10px;
}

footer {
  background-color: rgba(14, 87, 155, 0.7);
}
.footernavbar {
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
}
.footernavbar > p {
  padding: 0;
  font-size: 20px;
  display: inline;
}

.footernavbar a {
  text-decoration: none;
  color: black;
}

.footernavbar a:hover {
  color: white;
}

.footer-separator {
  padding: 0 1%;
}
form {
  width: 100%;
}

input {
  margin-top: 2%;
  margin-right: 10%;
}
